* {
  all: unset;
  color: #EBE2D3;
  background-color: #777491;
  font-family: "Century Schoolbook Monospace"
  
}

.workspaceTab {
  padding: 0em .2em 0em .2em;
  font-size: 2.7em;
  border-radius: 5px 5px 0px 0px;
}

.verticalDate {
  font-family: "Century Schoolbook Monospace", "Comic Sans";
  font-size: 60px;
  margin: .1em .2em 0em .1em;
  border-radius: 0px 5px 5px 0px;
}

.desktopClock {
  font-size: 72px;
  margin: 0em .3em -.1em .1em;
  border-radius: 5px 0px 0px 0px;
}

.batteryPercent {
  font-size: 20px;
  margin: .3em .6em .3em .3em;
}

.vClockLeft {
  font-size:20px;
  margin: 0px 1px 2px 4px; 
}

.vClockCenter {
  margin: 0px -4px 2px -4px;
  font-size: 35px;
}

.vClockRight {
  font-size: 20px;
  margin: 0px 0px 2px -5px;
}

.workspace {
  color: #777491;
  border: 2px solid #777491;
  font-size: 40px;
  margin: 0px 10px 8px 10px;

}






