* {
	all: unset;
}
.clock {
  font-family: "Hurmit Nerd Font Mono";
  color: #FFFFFF;
  font-size: 100px;
}

.smallClock {
  font-family: "Hurmit Nerd Font Mono";
  color: #000000;
  background-color: #FFFFFF;
  font-size: 14px;
  margin: 0px 0px 0px 10px;
  border-radius: 0px 0px 0px 20px;
}


