* {
    color:#ffffff;
    opacity:.93;
    font-size:.98em;
    font-family: Hurmit Nerd Font Mono;
}
#window {
    margin:0px;
    border:0px;
    padding:0px;
}


window#waybar {
   background-color:#000000;
}
#workspaces button {
    background-color: #2F221E;
    border:0px;
    margin: 0 0 0 .5em;
    padding:0px;
}
    
#workspaces button.active {
    margin:0 0 0 .5em;
    border: 0px;
    padding:0px;
    background-color:#8B6145;
    border-radius:0px;
}
 #memory, #clock, #network, #clock {
    background-color:#6a5d61;
    margin:0px;
    border:0px;
    padding: 0 1em 0 1em

}

#pulseaudio, #cpu, #temperature {
    background-color:#7D7166;
    margin:0px;
    border:0px;
    padding: 0 1em 0 1em;
}
/*
* #2f221e
* #8b6145
* #6a5d61
* #7d7166
*/
