* {
  all: unset;
}


.main {
  color: #FFFFFF;
  font-family: "FS Sinclair";
  font-size: 150px;
  text-shadow: 1px 1px 10px white;
 }
.date {
  color: #FFFFFF;
  font-family: "FS Sinclair";
  font-size: 75px;
  text-shadow: 1px 1px 10px white;

}

.clock {
    padding: 0px 0px 3px 0px;
}

.smallClock {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #000000;
    background-color: #FFFFFF;
    font-family: "VCR OSD Mono";
    border: solid 5px #FFFFFF;
}

.battery {
    font-family: "FS Sinclair";
    padding: 0px 3px 0px 3px;
    font-size:20px;
}
