* {
  all: unset;
}


.main {
  color: #FFFFFF;
  font-family: "VCR OSD Mono";
  font-size: 100px;
 }

.clock {
    padding: 0px 0px 3px 0px;
    border: solid 5px #FFFFFF;
}
.battery {
    font-family: "VCR OSD Mono";
    padding: 0px 3px 0px 3px;
    border: solid 5px #FFFFFF;
    font-size:35px;
}
